package ${packageName}.mapper;

import ${packageName}.entity.${className};
import com.wzg.framework.mybatis.CustomMapper;
import org.springframework.stereotype.Repository;

/**
 * <p>
 * ${commentName} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${datetime}
 */
@Repository
public interface ${className}Mapper extends CustomMapper<${className}> {

}
